doctype html
head
  script(type="text/javascript", src="vendor.js")
  script(type="text/javascript", src="hello.js")
  link(rel="stylesheet", href="hello.css")
  title Hello ctrl
body(ng-app="Hello", ng-controller="HelloCtrl as hello")
  h1(ng-bind="hello.title")
  h2
    span Users
    sup(ng-show="hello.users", ng-bind="hello.users.length")
  pre(ng-bind="hello.users | json")
  ul
    li
      a(ng-click="hello.create()") Opret
      a(ng-click="hello.delete()") Slet
    li(ng-repeat="user in hello.users track by user.Id")
      a(
        ng-click="hello.pickUser(user.Id)"
        ng-bind="user.Name"
      )
  h2 User
  pre(ng-bind="hello.user | json")
